#angelDescription{
  display: none;
}
#loganDescription{
  display: none;
}

#chrisDescription{
  display: none;
}

#lukeDescription{
  display: none;
}

#anDescription{
  display: none;
}
